{% extends 'accounts/base.html' %}
{% block title %}Sign Up{% endblock title %}

{% block content %}
<div class="container">
    <div class="col-lg-4 mx-auto border border-info rounded p-3 m-3 mt-5">
    <h2 class="text-center">Sign Up</h2>
    <hr>
    <form method="post" action="{% url 'accounts:register' %}">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group my-2">
                <div class="form-group">
                {{ field.label_tag }} <br>
                {{ field }} 
                {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                <p style="color:red;">{{ error }}</p>
                {% endfor %}
                </div>
            </div>
        {% endfor %}
        <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Sign up</button>
        </div>
    </form>
    </div>
</div>

{% endblock %}